* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.wrapper {
    margin: 5% 5%;
    padding: 0 20px;
    
    /* right: 0;
    left: 0;
    top: 50%;
    transform: translate(0, -50%); */
}
.container__inner {
    background-color: #f9f9f9;
    position: absolute;
    padding: 0 10px;
    right: 0;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 1140px;
    margin: 0 auto;
}
.title {
    text-align: center;
    font-size: 36px;
    margin: 60px 0;
}
.cards {
    display: flex;
    justify-content: space-between; 
    text-align: center;
}
.cards__box {
    margin: 0 10px;
    
}
.cards__box img {
    padding-bottom: 25px;
}
.cards__box p {
    padding-bottom: 25px;
}
.subtitle__price {
    font-size: 18px;
    font-weight: bold;
}
.btn {
    background-color: #f9f9f9;
    border: 1px solid #23bac1;
    color: #23bac1;
    font-size: 1em;
    padding: 12px 75px;
}

/* @media (max-width: 1200px) {
    .container {
        max-width: 900px;
        margin: 0 auto;
        transform: none;
        top: 0;
    }
    .cards {
        flex-wrap: wrap;
    }
    .cards__box {
        width: 50%;
        margin-bottom: 50px;
    }
    .title {
        margin: 50px 0;
    }
}
@media (max-width: 700px) {
    .cards {
        display: block;
    }
    .cards__box {
        width: 100%;
    }
    .title {
        margin: 35px 20px;
    }
}
@media (max-width: 400px) {
    .title {
        font-size: 24px;
    }
    .cards__box img {
        width: 50%;
    } 

} */
